<div class="container py-3">
  <div class="row">
    <h2>商品編集</h2>
  </div>
  
  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
    <div class="row p-3">
      <div class="col-sm-2">商品画像</div>
      <div class="col-md-5"><%= f.file_field :image, accept: "image/*" %></div>
    </div>
    <div class="row p-3 form-label">
      <div class="col-sm-2">商品名</div>
      <div class="col-md-5"><%= f.text_field :name, class: "form-control", style: "width:100%" %></div>
    </div>
    <div class="row p-3 form-label">
      <div class="col-sm-2">商品説明</div>
      <div class="col-md-5"><%= f.text_area :introduction, class: "form-control", style: "width:100%", rows: "3" %></div>
    </div>
    <div class="row p-3">
      <div class="col-sm-2">ジャンル</div>
      <div class="col-md-5"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></div>
    </div>
    <div class="row p-3 form-label">
      <div class="col-sm-2">税抜価格</div>
      <div class="col-md-5"><%= f.number_field :price, class: "form-control", style: "width:100%" %></div>
    </div>
    <div class="row p-3">
      <div class="col-sm-2">販売ステータス</div>
      <div class="col-md-5">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中", value: :true, class: 'active' %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", value: :false, class: 'inactive' %>
      </div>
    </div>
    <div class="rowr p-3">
      <%= f.submit "変更を保存", class:"btn btn-sm btn-success"%>
    </div>
  <% end %>
</div>