<div class="container">
  <div class="row">
    <h1>商品一覧</h1>
    <!--〇の中に＋が入ったボタン（商品登録画面に遷移する）-->
    <a href="/admin/items/new">＋</a>
  </div>
  
  
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    
    <% @items.each do |item| %>
    <tbody>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
    </tbody>
    <% end %>
  </table>
</div>
