<div class="container py-3">
  <h3>商品詳細</h3>

  <div class="row py-5">
    <div class="col-xs-5">
      <%= image_tag url_for(@item.image), size: '300x270' %>
    </div>
    
    <div class="col-lg-6">
      <table>
        <tr>
          <th class="py-3">商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th class="py-3">商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th class="py-3">ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
          <th class="py-3">
            税抜価格<br>
            (税込価格)
          </th>
          <td>
            <%= number_with_delimiter(@item.price) %>
            (<%= number_with_delimiter(@item.price_with_tax) %>)円
          </td>
        </tr>
        <tr>
          <th class="py-3">販売ステータス</th>
          <td><strong><%= @item.is_active ? '販売中' : '販売停止中' %></strong></td>
        </tr>
        <tr>
          <td class="py-1"><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
