<div class="container">
  <h1>配送先編集</h1>
  <table>
    <tbody>
      <%= form_with model: @address do |f| %>
      <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "編集内容を保存", class: 'btn btn-success' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>