<div class="container">
  <h1>配送先登録/一覧</h1>
  <table>
    <theader>
      <%= form_with model: Address do |f| %>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録", class:"btn btn-secondary" %></td>
      </tr>  
      <% end %>
    </theader>
  
    <tbody>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>氏名</th>
        <th></th>
      </tr>

      <tr>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.full_name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(@customer), class: 'btn btn-success' %>
          <%= link_to "削除する", address_path(@customer), method: :delete, class: 'btn btn-danger'%>
        </td>
      </tr>
      <tr>
        <%= @addresses.each do |address| %>
        <td><%= @address.postal_code %></td>
        <td><%= @address.address %></td>
        <td><%= @address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(@customer.id), class: 'btn btn-success' %>
          <%= link_to "削除する", address_path(@customer.id), method: :delete, class: 'btn btn-danger'%>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>