<div class="container">
  <h3>ショッピングカート</h3>
  <div class="row">
    <div class="col text-right">
      <%= link_to cart_items_destroy_all_path, method: :delete do %>
        <button class="btn btn-danger ">カートを空にする</button>
      <% end %>
    </div>
  </div>
  
  <table class="table table-bordered">
    <tr><thead class="thead-dark">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th><br></th>
    </thead></tr>
    
    <!--#合計金額の初期化-->
    <% total = 0 %>

    <!--#カート内に商品があった場合-->
    <% if @cart_items.present? %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag url_for(cart_item.item.image), size: "50x50" %>
            <%= cart_item.item.name %>
          </td>
          <td>
            <% price_with_tax = (cart_item.item.price_with_tax).to_i %>
            <%= number_with_delimiter(price_with_tax) %>
          </td>
          <td>
            <%= form_with model:cart_item, url:cart_item_path(cart_item), method: :patch, local:true do |f| %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "変更" , class: "btn btn-success" %>
            <% end %>
          </td>
          <td>
            <% subtotal = (cart_item.item.price_with_tax * cart_item.amount) %>
            <%= number_with_delimiter(subtotal) %>
          </td>
          <td><%= link_to "削除", cart_item_path(cart_item.id) ,  method: :delete , "data-confirm" => "商品を削除しますか？" , class: "btn btn-danger"%></td>
        </tr>
        <!--#アイテムごとに合計金額totalに反映 計算しておく-->
        <% total += cart_item.subtotal %>
      <% end %>
    <% end %>
  </table>
  
  <div class="row">
    <div class="col">
      <%= link_to "買い物を続ける" , root_path , class: "btn btn-primary" %>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tr>
          <th>合計金額</th>
          <td><%= number_with_delimiter(total) %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <% if current_customer.cart_items.any? %>
        <%= link_to new_order_path do %>
          <button class="btn btn-success">情報入力に進む</button>
        <% end %>
      <% end %>
    </div>
  </div>
  
</div>