<div class="container">
  <h1>注文情報確認</h1>
  
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.image, size: "100x80" %>
              <strong><%= cart_item.item.name %></strong>
            </td>
            <td>
              <% price_with_tax = cart_item.item.price_with_tax %>
              <%= number_with_delimiter(price_with_tax) %>
            </td>
            <td><%= cart_item.amount %></td>
            <td>
              <% subtotal = cart_item.item.price_with_tax * cart_item.amount %>
              <%= number_with_delimiter(subtotal) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col">
      <table class="table">
        <tr>
          <th>送料</th>
          <td><%= @postage %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>
            <% total = @cart_items_price %>
            <%= number_with_delimiter(total) %>
          </td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>
            <% total_payment = @postage + @cart_items_price %>
            <%= number_with_delimiter(total_payment) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <h4>支払い方法</h4>
  <% if @selected_payment_method == "credit_card" %>
    クレジットカード
  <% else %>
    銀行振込
  <% end %>
    
  <h4>お届け先</h4>
  <%= form_with model: Order, url: orders_path, method: :post do |f| %>
    <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
    <%= hidden_field_tag 'order[address_type]', @address_type %>
    
    <% if @address_type == "customer_address" %>
      <%= hidden_field_tag 'order[customer_address_id]', params[:order][:customer_address_id] %>
    <% elsif @address_type == "registered_address" %>
      <%= hidden_field_tag 'order[registered_address_id]', params[:order][:registered_address_id] %>
    <% elsif @address_type == "new_address" %>
      <%= hidden_field_tag 'order[postal_code]', params[:order][:postal_code] %>
      <%= hidden_field_tag 'order[address]', params[:order][:address] %>
      <%= hidden_field_tag 'order[name]', params[:order][:name] %>
    <% end %>
    
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>

</div>