<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <h3>注文履歴一覧</h3>
      <table class="table table-bordered">
        <tr><thead class="thead-dark">
          <th><b>注文日</b></th>
          <th><b>配送先</b></th>
          <th><b>注文商品</b></th>
          <th><b>支払い金額</b></th>
          <th><b>ステータス</b></th>
          <th><b>注文詳細</b></th>
        </thead></tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= order.address %></td>
            <td>
              <ul class="list-unstyled">
                <% order.order_details.each do |order_detail|  %>
                  <li><%= order_detail.item.name %></li>
                <% end %>
              </ul>
            </td>
            <td>
              <% total = ((order.total_payment - order.postage)*1.1 + order.postage).floor %>
              <%= number_with_delimiter(total) %></td>
            <td><%= order.status %></td>
            <td><%= link_to "表示する", order_path(order.id), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>