<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name, items_path %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    
    <div class="col">
      <div class="item_image">
        <%= image_tag url_for(@item.image), size: "200x150" %>
      </div>
    </div>
    
    <div class="col">
      <!--カートに入れるためのコードはこれでいいのか？-->
      <!--#商品販売中の場合-->
      <% if @item.is_active == true %>
        <div><%= @item.name %></div>
        <div><%= @item.introduction %></div>
        <div><% amount = @item.price_with_tax %></div>
        <div>￥<%= number_with_delimiter(amount) %>(税込)</div>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <div>
              <!--#オブジェクト名item_id、第二引数部分にvalueで受け渡す値 @item.idを指定-->
              <!--#cartitem controllerの cart_items.find_by(item_id:に送ることができる-->
              <%= f.hidden_field :item_id , :value => @item.id %>
              <%= f.label :amount, "個数選択" %>
              <%= f.select :amount, *[1..10] %>
          </div>
          <div><%= f.submit "カートに入れる", class: 'btn btn-success' %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>