<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% if admin_signed_in? %>
      <!--ここではLOGOマークを文字で代用することにした-->
        <%= link_to "ながのCAKE", admin_items_path %>
      <% else %>
        <%= link_to "ながのCAKE", root_path %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" >
          <% if customer_signed_in? %>
            <li class="customer-name text-light">
            ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！
           </li>
          <!--link_toにすることでmethodがgetになる（button_toだとpostになる）-->
            <li class="nav-item mr-3">
              <%= link_to 'マイページ', customers_path(current_customer), class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "商品一覧", items_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "カート", cart_items_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-light' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item mr-3">
              <%= link_to "商品一覧", admin_items_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "注文履歴一覧", admin_orders_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-light' %>
            </li>
          <% else %>
            <li class="nav-item mr-3">
              <%= link_to "About", about_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "商品一覧", items_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-light' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>